* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #132032;
  --secondary: #637c7844;
  --red: #fc0a0a;
  --cyan: #55fbdd;
  --mild-green: #7eb6ac;
  box-sizing: border-box;
}

.main {
  background-color: var(--primary);
}

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-left: 120px;
  margin-right: 120px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 300px;
}

.name {
  font-size: 75px;
  color: white;
}

.name-secondary {
  font-size: 100px;
  color: var(--mild-green);
}
.hero {
  height: 100%;
  display: flex;
  align-items: center;
  width: 500px;
}

.hero-bisect {
  position: absolute;
  background-color: var(--secondary);
  top: 5%;
  right: 0;
  bottom: 0;
  left: 63.5%;
  z-index: 5;
  height: 100vh;
}
/* .hero-bisect {
  height: 100%;
  width: 50%;
  border: 1px solid yellow;
  position: absolute;
  z-index: 2;
} */
.hero-logo {
  background: url("./assets/logo.jpg");
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 4px solid var(--cyan);
  background-size: contain;
  position: relative;
  z-index: 6;
}
